html {
    box-sizing: border-box;
  
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

/* Fonts */
@font-face {
  font-family: "WisdomScript";
  src: url("../fonts/WisdomScript/WisdomScriptAJ.woff") format("woff"),
    url("../fonts/WisdomScript/wisdomscriptaj-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GreatVibes";
  src: url("../fonts/GreatVibes/great-vibes-v5-latin-regular.woff")
      format("woff"),
    url("../fonts/GreatVibes/great-vibes-v5-latin-regular.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab/roboto-slab-v7-latin-regular.woff")
      format("woff"),
    url("../fonts/RobotoSlab/roboto-slab-v7-latin-regular.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/montserrat-v12-latin-700.woff") format("woff"),
    url("../fonts/Montserrat/montserrat-v12-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/montserrat-v12-latin-regular.woff")
      format("woff"),
    url("../fonts/Montserrat/montserrat-v12-latin-regular.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DroidSerif";
  src: url("../fonts/DroidSerif/droidserif-italic-webfont.woff") format("woff"),
    url("../fonts/DroidSerif/droidserif-italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  
  }
  
  img {
    display: block;
    min-width: 100%;
    height: auto;
  }
  
  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }
/* header */
.main-menu{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 45px;
}
.logo {
  width:80px;
  height:30px ;
}
.menu-list{
display: flex;
justify-content: space-between;
align-content: center;
margin: 0;
padding: 0;
list-style: none;
width: 480px;
}
.menu-list-item a {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 41px;
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
  }


  .menu-list-item a:hover,
  .menu-list-item a:focus {
  color: #fed136;
}
/* section services */
.section-title {
  display: block;
  margin: 0 auto;
  padding-top: 120px;
  font-size: 40px;
  line-height: 75px;
  font-weight: 700;
  font-family: "Montserrat";
  color:#222222;
  text-transform: uppercase;
  text-align: center;
  mix-blend-mode: luminosity;
}
.after-title{
  display: block;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-family: "DroidSerif";
  text-transform: none;
  text-align: center;
  color: #777777;
}

.section-content{
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;

}

.section-content-item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    /* position: relative; */
    margin:0 auto;
    padding: 0;
  
}


/* .section-content-list{
  height: 100%;
  width: 280px;
  padding-top: 80px;
} */


.text-item{
  margin: 0 auto;
  font-size: 18px;
  /* line-height: 75px; */
  font-family: "Montserrat";
  color: rgb(34, 34, 34);
  font-weight: 900;
  text-align: center;
  padding-bottom: 20px;
}

.tex-after {
  margin: 0 auto;
  font-size: 14px;
  line-height: 17px;
  font-family: "RobotoSlab";
  color: rgb(119, 119, 119);
  font-weight: 400;
  text-align: center;
}

.services {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px; /*для отступа от секции*/
}
/* icons */
.section-content-list{ /*параметры для ли*/
  width: 280px;
  text-align: center;
  padding-top: 116px;
  position: relative;
}
.icons-trash::before {
  background-image: url(../img/icons/trash.png)
}
.icon-pc::before {
  background-image: url(../img/icons/pc.png)
}
.icon-secur::before {
  background-image: url(../img/icons/secur.png)
}
.section-content-list::before {
  content: '';
  width: 68px;
  height: 68px;
  border: 3px solid  rgb(254, 209, 54);
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* contact_form */
.contact_form {
  background: url(/icons/MapImage.png) no-repeat;
  background-position: center;
  background-color: #222222;
  padding: 100px 0 118px;
}
.sub-title {
margin:0 auto;
text-align: center;
display: block;
font-size: 16px;
line-height: 19px;
font-weight: 400;
font-family: "DroidSerif";
text-transform: none;
text-align: center;
color: #777777;
padding-bottom:80px;
}
.services_section {
  padding: 80px 0 118px;
}
.form_title {
  text-align: center;
  margin:0 auto;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size:40px;
  line-height:48px;
  text-transform: uppercase;
}
input {
  color: #bbbbbb;
  border: none;
  padding: 18px;
  width: 456px;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.input::placeholder {
  text-transform: uppercase;
  color: #bbbbbb;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
}
textarea::placeholder {
  text-transform: uppercase;
  color: #bbbbbb;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
}
input:required:invalid:not(:placeholder-shown) { 
  outline: 2px solid red;
}
input:required:valid:not(:placeholder-shown) {
   outline: 2px solid green;
  }
textarea:required:invalid:not(:placeholder-shown) {
   outline: 2px solid red;
  }
textarea:required:valid:not(:placeholder-shown) { 
  outline: 2px solid green;
}

.input_section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
textarea {
  color: #bbbbbb;
  border: none;
  padding: 18px;
  width: 456px;
  box-sizing: border-box;
  resize: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
.input_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.send_button {
  background: rgb(254, 209, 54);
  border: 1px solid rgb(254, 209, 54);
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 20px;
  width: 240px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}





