html {
    box-sizing: border-box;
  
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

/* Fonts */
@font-face {
  font-family: "WisdomScript";
  src: url("../fonts/WisdomScript/WisdomScriptAJ.woff") format("woff"),
    url("../fonts/WisdomScript/wisdomscriptaj-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GreatVibes";
  src: url("../fonts/GreatVibes/great-vibes-v5-latin-regular.woff")
      format("woff"),
    url("../fonts/GreatVibes/great-vibes-v5-latin-regular.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab/roboto-slab-v7-latin-regular.woff")
      format("woff"),
    url("../fonts/RobotoSlab/roboto-slab-v7-latin-regular.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/montserrat-v12-latin-700.woff") format("woff"),
    url("../fonts/Montserrat/montserrat-v12-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/montserrat-v12-latin-regular.woff")
      format("woff"),
    url("../fonts/Montserrat/montserrat-v12-latin-regular.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DroidSerif";
  src: url("../fonts/DroidSerif/droidserif-italic-webfont.woff") format("woff"),
    url("../fonts/DroidSerif/droidserif-italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  
  }
  
  img {
    display: block;
    min-width: 100%;
    height: auto;
  }
  
  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }
/* header */
.main-menu{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 45px;
}
.logo {
  width:80px;
  height:30px ;
}
.menu-list{
display: flex;
justify-content: space-between;
align-content: center;
margin: 0;
padding: 0;
list-style: none;
width: 480px;
}
.menu-list-item a {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 41px;
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
  }


  .menu-list-item a:hover,
  .menu-list-item a:focus {
  color: #fed136;
}
/* section services */
.section-title {
  display: block;
  margin: 0 auto;
  padding-top: 120px;
  font-size: 40px;
  line-height: 75px;
  font-weight: 700;
  font-family: "Montserrat";
  color:#222222;
  text-transform: uppercase;
  text-align: center;
  mix-blend-mode: luminosity;
}
.after-title{
  display: block;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-family: "DroidSerif";
  text-transform: none;
  text-align: center;
  color: #777777;
}

.section-content{
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;

}

.section-content-item {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin:0 auto;
    padding: 0;
}

.section-content-list{
  height: 100%;
  width: 280px;
}


.text-item{
  margin: 0 auto;
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(34, 34, 34);
  font-weight: 900;
  text-align: center;
}

.tex-after {
  margin: 0 auto;
  font-size: 14px;
  /* line-height: px; */
  font-family: "RobotoSlab";
  color: rgb(119, 119, 119);
  font-weight: 400;
  text-align: center;
}





